.homepage-container {
  /* padding-top: 30px;
  height: 260px; */
  padding : 50px 10px 50px 10px;
  height: 560px;
  align-content: center;
  font-size: 1rem;
}
.dark-Display {
  background-color: #384266;
  color: white;
}
.light-Display {
  background-color: #ffffff;
  color: black;
}
.home-row {
  align-items: center;
}
.home-row-full{
  align-items: center;
}
.row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}
.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}
.home-text-wrapper{
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}
.topline{
  color: #f00946;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.headline{
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
}
.description{
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home-img-wrapper{
  max-width: 555px;
}
.home-img-wrapper-row{
  align-content: center;

}
.home-img{
  max-width: 95%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0;
}
.home-img-row{
  max-width: 95%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 30px;
  padding-right: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}
